*{
	padding: 0;
	margin: 0;
}

a {
	color: #1CACD7;;
}


a:hover{
	color: #1DBE72;
	text-decoration: none;
}


.loginContainer {
  background: url("/images/login_background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	height: 100vh;
}

.loginTitle{
	color:red;
	padding-left: 62%;
	padding-top: 12vh;
	font-size: 75px;
	font-family: 'Coming Soon', cursive;
}

.indexRow1{
	height:28vh;
}

.indexRow2{
	height: 34vh;
	font-family: 'Coming Soon', cursive;
	font-size: 18px;
	color: #3D4849;
}

.logInInput:hover{
	color:red;
}

.loginRow{
	margin-left: 63.8%;
}

.indexRow3{
	font-family: 'Coming Soon', cursive;
	font-size: 18px;
}

.logInButton{
	background-color: Transparent;
	background-repeat:no-repeat;
	border: none;
	cursor:pointer;
	overflow: hidden;
	margin-left: 68.5%;
	margin-top: 3vh;
}

.registerButton{
	background-color: Transparent;
	background-repeat:no-repeat;
	border: none;
	cursor:pointer;
	overflow: hidden;
	margin-left: 64.5%;
}

.skipLoginButton{
	background-color: Transparent;
	background-repeat:no-repeat;
	border: none;
	cursor:pointer;
	overflow: hidden;
	margin-left: 2%;
}


.newContainer{
	background: url("/images/login_background.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
}

.newTitle{
	color:red;
	padding-left: 60%;
	padding-top: 15vh;
	font-size: 45px;
	font-family: 'Coming Soon', cursive;
}

.newForm{
	margin-top: 1vh;
	height: 34vh;
	font-family: 'Coming Soon', cursive;
	font-size: 18px;
	color: #3D4849;
	margin-left: 63%;
}

.newSubmitButton{
	color: #493F33
	border:none;

}

.showContainer{
	background: url("/images/login_background.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
}

.showRow{
	margin-top: 14vh;
	margin-left: 12%;
	font-family: 'Coming Soon', cursive;
	width: 75%;
}

.showRow h1{
	color: red;
}

.showRow button{
	background-color: Transparent;
	background-repeat:no-repeat;
	border: none;
	cursor:pointer;
	overflow: hidden;
	color: #1CACD7;
}

.showRow input{
	background-color: Transparent;
	background-repeat:no-repeat;
	border: none;
	cursor:pointer;
	overflow: hidden;
	color: #1CACD7;
}

.showButton{
	font-size: 4vh;
}

.showButton:hover{
	color: #1DBE72;
}

.personalRoomButton{
	margin-left: 14%;
}

.editProfileButton{
	margin-left: 25%;
}

.logoutButton{
	margin-left: 29%;
}

.newDrawingButton{
	margin-top: 2vh;
	margin-left: 8%;
	font-size: 4vh;
}

.newDrawingButton:hover{
	color: #1DBE72;
}

.newSubmitButton{
	background-color: Transparent;
	background-repeat:no-repeat;
	border: none;
	cursor:pointer;
	overflow: hidden;
}

.newSubmitButton:hover{
	color:red;
}

.showLobbyContainer{
	background-color: lightgrey;
	height: 45vh;
}

.editInput{
	margin-top: 2vh;
	font-size: 15px;
	color: #1CACD7;
}

.editInput:hover{
	color: #1DBE72;
}

.editRow1{
	height: 6vh;
}

.editRow{
	margin-top: 8vh;
	margin-left: 12%;
	font-family: 'Coming Soon', cursive;
	width: 75%;
}


.drawContainer{
  width: 50%;

}
#myCanvas{
  display: inline-block;
  width: 70%;
  height: 480px;
  border: 1px solid black;
}
.message_board {
  display:inline-block;
  vertical-align: top;
  overflow-y: scroll;
  text-overflow: ellipsis;
  white-space:pre-line;
  width: 25%;
  height: 480px;
  border: 1px solid black;
}


#new_message{
  vertical-align: top;
  margin-left: 70%;
}

#new_message input:first-child {
  width: 80%;
}

.colors{
  display: inline-block;
}

.current {
  width: 100px;
}

.color{
  display: inline-block;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: blue;

}

.editRow h1{
	color: red;
}

.editRow input{
	font-size: 2.5vh;
}

.editRow p {
	font-size: 2.5vh;
}

.editSubmit{
	background-color: Transparent;
	background-repeat:no-repeat;
	border: none;
	cursor:pointer;
	overflow: hidden;
}

.editSubmit:hover{
	color:red;
}

.editTF{
	width:70%;
	border: none;
	background-color: transparent;
	border-bottom: solid 1px grey;
}

.loginTF{
	border: none;
	background-color: transparent;
	border-bottom: solid 1px grey;
}

.newTF{
	border: none;
	background-color: transparent;
	border-bottom: solid 1px grey;
}

.link{
	color: #1CACD7;
}

.link:hover{
	color: #1DBE72;
}

.userList{
    margin-top: 0vh;
    margin-left: 10%;
    font-family: 'Coming Soon', cursive;
    width: 75%;

}

.outerContainer{
	margin-top: 0vh;
    overflow: scroll;
    max-height: 500px;
}

.userListTitle{
	color: red;
	margin-top: 15vh;
    margin-left: 17%;
    font-family: 'Coming Soon', cursive;
    width: 75%;
}

.adminTable{
	width: 80%;
}

.tableRow{
	border-bottom: solid 1px grey;
}

.tableTop{
	padding-bottom: 1vh;
}

.tableData{
	padding-top: .5vh;
	padding-bottom: .5vh;
}

.adminDeleteButton{
	border: none;
	background-color: transparent;
	color: #1CACD7;
}

.adminDeleteButton:hover{
	color: #1DBE72;
}

.adminLogout{
	background-color: transparent;
	border: none;
}

.drawContainer{
	background-image: url("/images/planks2.jpeg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	width: 100%;
	height: 100vh;
	background-size:100% 100%;
}

.drawingboard{
	background-color: this command will clear the backgroun d;
	margin-top: 20%;
	margin-left: 5%;
	width: 90%;
}

.message_board{
	margin-top: 20%;
}

.container{
margin-right:0px;
padding:0;
margin-left:9.5%;
}

#myCanvas {
width:82%;
height:72.7vh;
margin-top:15.5%;


}






