extend ../layout

block content

	div(class = "showContainer")
		section(class = "row")
			div(class= "col-md-offset-6 col-md-6")
				h1(class = "userListTitle") Administrator Page
				div(class = "userList")
					div(class = "outerContainer")
						- for users in data
							ul
							a(href='/users/#{users.id}/edit' class = "userList") #{users["username"]}

