extend ../layout

block content

	div(class = "showContainer")
		section(class = "row")
			div(class= "col-md-offset-6 col-md-6")
				h1(class = "userListTitle") Administrator Page
				div(class = "userList")
					div(class = "outerContainer")
						table(class="adminTable")
							colgroup(span='2')
								tr(class="tableRow")
									td(class = "tableTop") Edit User
									td(class = "tableTop") Delete User
							- for users in data
								tr(class = "tableRow")
									td(class = "tableData")
										a(href='/users/#{users.id}/edit') #{users["username"]}
									td(class = "tableData")
										form(method="POST" action='/users/#{users.id}/delete')
											button(class="adminDeleteButton" type="submit") Delete
					form(method="get" action='/users/logout')
						input(type="submit" value="Log Out From Admin" class="editInput adminLogout")
