extend ../layout

block content


	div(class = "showContainer")
		section(class = "row")
			div(class= "col-md-offset-6 col-md-6")
				div(class = "userList")
				h1(class = "userList") FRIEND WITH DONKS
				- for users in data
					ul
					a(href='/users/#{users.id}' class = "userList") #{users["username"]}

