extends ../layout

block content

  div(class = "showContainer")
    section(class = "row editRow1")
      div(class="col-md-12")
    section(class = "row")
      div(class= "col-md-offset-6 col-md-5")
        div(class = "editRow")
          h1 Edit Profile
          br
          form(method="post" action="/users/#{data.id}/edit")
            p Edit Username. Current username is #{data.username}
            input(required type="text", name="username", value="#{data.username}" class="editTF")
            br
            br
            br
            p Enter to change password
            input(required type="password", name="password", placeholder="Password" class="editTF")
            br
            br
            p Confirm new password
            input(required type="password", name="confirm", placeholder="Password" class="editTF")
            br
            br
            br
            input(type="submit" value="Submit" class="editSubmit")
            br
            br
            br
            br
          form(method="post", action="/users/#{data.id}/delete")
            input(type="submit" value="Delete Account" class="editSubmit")
