extends ../layout

block content
  div(class='drawContainer')
    
    canvas( id='myCanvas' class="drawingboard"  height="100%")
    
    section(class="row")
      div(class = "col-md-12 personalMenu")
        a(href='/users/#{user["id"]}')
          button(type='button' id='backTo') Back to Dashboard
    
        button(id='reset' type='button') Reset Canvas
    
    section(class="row")
      div(class = "col-md-7 col-md-offset-2 colorMenu")
          div(id='palette')
            div(class='current') Current Color
        script(src="../personalCanvas.js")
