extends ../layout

block content
  div(class='drawContainer')
    canvas( id='myCanvas' class="drawingboard"  height="100%")
    div(class='colors')
    a(href='/users/#{user["id"]}')
      button(type='button' id='backTo') Back to Dashboard
    button(id='reset' type='button') Reset Canvas
  div(class='col-md-12 col-md-offset-2 text')
    div(id='palette')
      div(class='current') Current Color
  script(src="../personalCanvas.js")
