extends ../layout

block content
	div(class = "showContainer")
		section(class = "row")
			div(class= "col-md-offset-6 col-md-5")
				div(class = "showRow")
					h1 Welcome to Canvas, #{user.username}
					a(href='/personalDraw/#{user["id"]}')
						button(type="button" class="newDrawingButton") Create Personal Drawing
					br
					br
					br
					a(href='/drawroom/#{user["id"]}')
						button(type="button" class="showButton personalRoomButton") Enter Party Drawing
					br
					br
					br
					br
					br
					br
					a(href='/users/#{user["id"]}/edit')
						button(type="button" class="showButton editProfileButton") Edit Profile
					br
					br
					a(href='/users/logout')
						button(type="button" class="showButton logoutButton") Log Out
